resources:
  pipelines:
  - pipeline: UPSTREAM  
    source: szarzeckiomni.azuredevops
    trigger: true  
    #  stages:         # This stage filter is used when evaluating conditions for 
  #    - S_A # triggering your pipeline. On successful completion of all the stages
name: NowaNazwa
jobs: 
  - job: J_DOWNSTREAM_ST
    pool: MyAgents
    variables:
     job_variable1: "job_variable1"
    steps:
    - bash: echo "Hello, world!"
      displayName: 'Step 1 from J_DOWNSTREAM_ST'
  - job: J_DOWNSTREAM
    pool: MyAgents
    variables:
     job_variable1: "job_variable1"
    steps:
    - bash: echo "Hello, world!"
      displayName: 'Step 1 from J_DOWNSTREAM'
    - bash: echo "Hello 2"
      displayName: DownstreamStep
    - bash: sleep 2
      displayName: FailStep
