# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
schedules:
- cron: '0 */3 * * *'
  displayName: Weekly Sunday build
  branches:
    include:
    - timeout_job
  always: true
variables:
  global_variable: "global_variable" 

trigger:
- timeout_job


stages:
- stage: S_A
  
  jobs:
 
  - job: J_A1
    pool: Azure Pipelines
    timeoutInMinutes: 1
    variables:
     job_variable1: "job_variable1"
    steps:
    - bash: echo "Hello"
      displayName: 'Step 1 from J_A1'
      #timeoutInMinutes: 1
      #continueOnError: true
    - bash: echo "##vso[task.setvariable variable=myOutputVar;isoutput=true]this is from job A"
      displayName: 'Step 2 from J_A1'
  - job: J_A2
    pool: Azure Pipelines
    timeoutInMinutes: 1
    steps:
    - bash: sleep 360
      displayName: 'Step 1 from J_A2'
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          # Write your commands here
          echo "##vso[task.setvariable variable=sauce]crushed tomatoes"
          echo 'Hello world'
          sleep 1


- stage: S_B
  jobs:
  - job: J_B1
    pool: Azure Pipelines
    steps:
      - bash: echo "Hello"
        continueOnError: true
        displayName: 'Step 1 from J_B1'




