# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
schedules:
- cron: '*/15 * * * *'
  displayName: Every 15 minutes
  branches:
    include:
    - main
  always: true
variables:
  global_variable: "global_variable" 

trigger:
- main

pr:
  branches:
    include:
    - '*' 

stages:
- stage: S_A
  jobs:
 
  - job: J_A1
    pool: Azure Pipelines
    variables:
     job_variable1: "job_variable1"
    steps:
    - bash: echo "Hello, world!"
      displayName: 'Step 1 from J_A1'
    - bash: echo "##vso[task.setvariable variable=myOutputVar;isoutput=true]this is from job A"
      displayName: passOutput
  #  - task: AzureKeyVault@2
  #    inputs:
  #      azureSubscription: '150$ Dynatrace(f924b465-89b7-47e4-9bd1-faedc6daaead)'
  #      KeyVaultName: 'KeyVaultTest00001'
  #      SecretsFilter: 'ana'
  #      RunAsPreJob: true
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(Build.BinariesDirectory)'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true
  - job: J_A2
    pool: Azure Pipelines
    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          # Write your commands here
          echo "##vso[task.setvariable variable=sauce]crushed tomatoes"
          echo 'Hello world'
   # - task: AzureCLI@2
   #   inputs:
   #     azureSubscription: '150$ Dynatrace(f924b465-89b7-47e4-9bd1-faedc6daaead)'
   #     scriptType: 'batch'
   #     scriptLocation: 'scriptPath'
   #     scriptPath: '/df.sh'
   #     arguments: 'as'

- stage: S_B
  jobs:
  - job: J_B1
    pool: Azure Pipelines
    steps:
      - bash: echo "Hello, world!"
        displayName: 'Step 1 from J_B'




