# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

variables:
  global_variable: "global_variable" 

trigger:
- master



steps:
    - bash: sleep 300
      displayName: 'Step 1 from J_A1'
      timeoutInMinutes: 1
    - bash: echo "##vso[task.setvariable variable=myOutputVar;isoutput=true]this is from job A"
      displayName: passOutput
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          # Write your commands here
          echo "##vso[task.setvariable variable=sauce]crushed tomatoes"
          echo 'Hello world'





